{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="page-header">
                    <h1>Inmuebles<br>
                        <small>Sección de inmuebles</small>
                        <a href="{{ path('inmueble_add') }}" class="btn btn-sm btn-success pull-right">"Add inmueble"</a>
                    </h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>"Name"</th>
                            <th>"Description"</th>
                            <th>"Address"</th>
                            <th>"Price"</th>
                            <th>"Time"</th>
                            <th>"Owner"</th>
                            <th>"Actions"</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inmueble in inmuebles  %}
                            <tr>
                                <td>{{ inmueble.name }}</td>
                                <td>{{ inmueble.description }}</td>                                
                                <td>{{ inmueble.duration }}</td>
                                <td>{{ inmueble.user.username }}</td>
                                <td>
                                    <a href="{# path('inmueble_get') #}" class="btn btn-sm btn-info">"View"</a>
                                    <a href="{# path('inmueble_mod') #}" class="btn btn-sm btn-primary">"Edit"</a>
                                    <a href="{# path('inmueble_del') #}" class="btn btn-sm btn-danger">"Delete"</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}