{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="page-header">
                    <h1>Usuario <small>Añadir un nuevo usuario</small></h1>
                </div>
            </div>
        </div>
        <div class="row well">
            <div class="col-md-12">
                {{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}

                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Tu nombre'} }) }}
                    <span class="text-danger">{{ form_errors(form.username) }}</span>
                </div>

                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder' : 'Tu email'}}) }}
                    <span class="text-danger">{{ form_errors(form.email) }}</span>
                </div>

                <div class="form-group">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder' : 'tu contraseña'}}) }}
                    <span class="text-danger">{{ form_errors(form.password) }}</span>
                </div>

                <p>
                    {{ form_widget(form.save, {'label' : 'Create user', 'attr': {'class': 'btn btn-success'}}) }}
                </p>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}